.drawerMenu {
  width: 240px;
  height: 100vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
}

.topics_Area {
  background-color: #d9d9d9;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topics_Area a:hover {
  background-color: #4e4a4a;
}

.topics_Area::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.topics_Area::-webkit-scrollbar-thumb {
  background-color: #9d8e8e;
  border-radius: 10px;
}

.controlArea {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #9d8e8e;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controlArea a {
  /* margin değerlerini lütfen aynı yapın */
  margin-top: 5px;
  margin-bottom: 5px;
  color: #4e4a4a;
  background-color: #d9d9d9;
  width: 80%;
  margin-left: -5px;
}

.controlArea a:hover {
  background-color: #bdbcbc;
}

.searchBar {
  width: 80%;
}

.drawer-button {
  width: 80%;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  background-color: #9d8e8e !important;
}