.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 240px;
  background-color: #bfb7b7;
  padding: 10px;
  min-height: 97vh;
}

.animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  background-color: blue;
  animation: moveDiv 0.3s ease-in-out;
  z-index: 999;
}

@keyframes moveDiv {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.add-research-container {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0.54) 10px
  );
  width: calc(100vw - 240px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin-left: 120px;
}
.add-research {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 200px;
  min-width: 350px;
  max-width: 800px;
  border-radius: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
  .topic-container {
    margin-left: 0px;
  }
  .add-research-container {
    width: 100%;
    margin-left: 0px;
    background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.54) 0%,
    rgb(0, 0, 0, 0.54) 10px,
    rgba(0, 0, 0, 0.54) 10px
  );
  }
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}




.addResBtn {
  background-color: #868484;
  border: none;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.addResBtn:hover {
  background-color: #6e6660;
}
