.text-div {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 1px 10px 1px 10px;
  border: none;
}

.text-div p,
h2,
textarea {
  background-color: #bfb7b7;
  text-align: center;
  padding: 5px 10px 5px 10px;
  overflow: auto;
  border-radius: 10px;
}

.text-div p {
  outline: none ;
  height: 100px;
  width: auto;
  flex: 1;
  min-width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* kac satırdan sonra  3 nokta gelicek ona karar ver  */
  -webkit-box-orient: vertical;
}


.text-div
textarea {
  outline: none ;
  width: auto;
  flex: 1;
  min-width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* kac satırdan sonra  3 nokta gelicek ona karar ver  */
  -webkit-box-orient: vertical;
}

.photo-p-div {
  display: flex;
  flex-wrap:wrap;;
  justify-content: center;
  align-items: center;
}

.photo-p-div p {
  height: 100px;
  width: auto;
  flex: 1;
  min-width: 100px;
  flex: 1;
  align-self: stretch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.photo-p-div p,textarea {
  width: auto;
  flex: 1;
  min-width: 100px;
  flex: 1;
  align-self: stretch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
